.dashboardview-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.dashboardview-container-center {
  display: flex;
  gap: 24px;
}

.dashboardview-container-center-right {
  flex: 0.33;
  display: grid;
  gap: 24px;
}

.dashboardview-container-bottom {
  display: flex;
  gap: 24px;
}

/* REPORT */
.report-container {
  flex: 1;
  background: #fff;
  border-radius: 10px;
  padding: 24px;
  font-family: inherit;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
}

/* PAYOUT */
.payout-container-body {
  position: relative;
}
.payout-container {
  display: grid;
  background-color: #fff;
  border-radius: 10px;
  padding-bottom: 21px;
}

.payout-btn {
  cursor: pointer;
  border: none;
  background: #fdbe2c;
  padding: 10px 30px;
  border-radius: 10px;
  color: #fff;
  font-family: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 12px;
  margin: 0 24px;
}

/* PAYOUT MODAL */
.payout-modal-overlay {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}

.payout-modal-body {
  position: fixed;
  display: flex;
  flex-direction: column;
  background: #fff;
  right: 0;
  top: 0;
  bottom: 0;
  width: 500px;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
  animation: Overlay--motion-slideInLeft 0.25s cubic-bezier(0.33, 1, 0.68, 1) 0s
    1 normal none running;
}

.payout-modal-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 24px;
  background: #fff;
  box-shadow: 0px -1px 0px 0px #fafafb inset;
}

.payout-modal-title {
  color: #14142b;
  font-family: inherit;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
}

.payout-modal-closebtn {
  cursor: pointer;
}

.payout-modal-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px 24px;
  flex: 1;
}

.payout-modal-btn {
  cursor: pointer;
  border: none;
  background: #fdbe2c;
  padding: 10px 30px;
  border-radius: 10px;
  color: #fff;
  font-family: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 12px;
  width: 100%;
}

/* RECENT TRANSACTION        */
.recent-transactions-container {
  flex: 1;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.recent-transactions-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.recent-transactions-title {
  font-family: inherit;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  color: #000000;
}

.recent-transactions-seemore {
  font-family: inherit;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  cursor: pointer;
  color: #ffc227;
}

.rttable {
  font-family: inherit;
  border-collapse: collapse;
  width: 100%;
  text-align: left;
}

.rttable th {
  padding: 16px 24px;
  color: #000000;
  font-family: inherit;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 12px;
}

.rttable td {
  padding: 23px 24px;
  color: #000000;
  font-family: inherit;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
}

.rttable-status-container {
  padding: 8px 10px;
  border-radius: 100px;
  border: 1px solid #34c38f;
  align-items: flex-start;
  width: max-content;
  background-color: #34c38f20;
  font-family: inherit;
  color: #34c38f;
  font-weight: 400;
  font-size: 12px;
  font-style: normal;
}

.rttable tr:nth-child(even) {
  background-color: #fafafb;
  border-radius: 5px;
}

/* TOP PRODUCTS */
.top-products-container {
  flex: 0.8;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.top-products-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-products-title {
  font-family: inherit;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  color: #000000;
}

.top-products-seemore {
  font-family: inherit;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  cursor: pointer;
  color: #ffc227;
}

.tptable {
  font-family: inherit;
  border-collapse: collapse;
  width: 100%;
  text-align: left;
}

.tptable th {
  padding: 16px 24px;
  color: #000000;
  font-family: inherit;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 12px;
}

.tptable td {
  padding: 23px 24px;
  color: #000000;
  font-family: inherit;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
}

.tptable tr:nth-child(even) {
  background-color: #fafafb;
  border-radius: 5px;
}

.tptable-image {
  width: 30px;
  height: 30px;
  object-fit: cover;
}

.tptable-service-td {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.tptable-service-name {
  font-family: inherit;
  color: #000000;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
}

.tptable-merchant-name {
  color: #959597;
  font-family: inherit;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 11px;
}

.toast {
  position: fixed;
  top: 20px;
  right: 20px;

  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.toast.show {
  opacity: 1;
  visibility: visible;
}

.toast.successful {
  color: #34c38f;
  background-color: #e0f5eb;
}

.toast-content {
  padding: 10px 24px;
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toast-content span {
  font-family: inherit;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
}

@keyframes Overlay--motion-slideInLeft {
  0% {
    transform: translateX(100%);
  }
}
